.latest-video {
    padding: 60px 15px;
    overflow: hidden;
}

.latest-video .container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

.latest-video .container .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-video .container .top h2 {
    font-family: Mohave;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.0rem;
    text-transform: uppercase;
}



.latest-video .container .top .swiper-pagination {
    position: relative;
    width: auto;
    bottom: 0;
    z-index: 200;
}

.latest-video .container .top .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 0;
    background-color: #2F2F3B;
    opacity: 1;
}

.latest-video .container .top .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FFFF;
}

.latest-video .swiper-wrapper {
    display: flex;
    gap: 5px;
}

.latest-video .cards .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    gap: 16px;
}

.latest-video .cards .card img {
    width: 350px;
    height: 215px;
    background-size: cover;
}

.latest-video .cards .card span {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: #C0C0CC;
}

.btn-voltar {
    position: absolute;
    left: 10px;
    top: 47%;
    background-color: #2F2F3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.btn-next {
    position: absolute;
    right: 10px;
    top: 47%;
    background-color: #2F2F3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

@media (max-width: 700px) {
    .latest-video {
        padding: 40px 15px;
    }
    
    .latest-video .cards .card img {
        width: 250px;
        height: 155px;
    }

    .btn-voltar, 
    .btn-next {
        width: 30px;
        height: 30px;
    }

    .btn-voltar {
        left: 5px;
    }

    .btn-next {
        right: 5px;
    }

    .latest-video .cards .card {
        width: 350px;
        height: 180px;
    }
}

@media (max-width: 400px) {
    .latest-video {
        padding: 40px 15px;
    }
    
    .latest-video .cards .card img {
        min-width: 305px;
    }
}